@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.container {
  margin-left: 22px;
  .heading {
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 80px 0 20px;
    h3 {
      @extend .Roboto500-24-28;
    }
  }
  .collapses {
    > * {
      margin-bottom: 32px;
    }
  }
}
