.Roboto400-16-18 {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}
.Roboto400-20-23 {
  font-weight: 400;
  font-size: 20px;
  line-height: 23.44px;
}
.Roboto500-16-18 {
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
}
.Roboto500-20-23 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23.44px;
}
.Roboto500-24-28 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28.13px;
}
.Roboto700-24-28 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.Roboto700-48-56 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px
}
