.Roboto400-16-1875 {
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75;
}
.Roboto400-20-2344 {
  font-weight: 400;
  font-size: 20px;
  line-height: 23.44;
}
.Roboto500-16-1875 {
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75;
}
.Roboto500-20-2344 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23.44;
}
.Roboto500-24-2813 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28.13;
}
.Roboto700-24-2813 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13;
}
